
extends base.pug

block body
  h1.text-center Welcome to the simple App!

  .jumbotron
    p.
      Thanks for checking out this super simple app.  If you login
      below, you'll be taken to an admin panel that is only accessible for
      authenticated users.

    p.
      Please #[a(href="/login") login] to continue.